GET <br/>
<button id="post">POST</button>
<div id="posttext"></div>
<button id="put">PUT</button>
<div id="puttext"></div>
<script type="text/javascript">
	$("#post").click(function () {
		$.ajax({
			url: "http://cors-options-hacking-target.herokuapp.com/query",
			method: "POST",
			async: true,
			contentType: "text/plain",
			success: function (data) {
				$("#posttext").html("POST OK")
			}
		});
	});
	$("#put").click(function () {
		$.ajax({
		url: "https://cors-options-hacking-target.herokuapp.com/query",
		method: "PUT",
			async: true,
		success: function (data) {
			$("#puttext").html("PUT OK")
		}
	});
	});
</script>